html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}
.section1 {
    background-image: url("../images/h_img.jpg");
    background-repeat: no repeat;
    position: relative;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center;
    background-size:cover;
}


h1 {
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}
.design-hidden {
    text-align: center;
    height:250px;
}
h2 {
    color:black;
    text-decoration: underline;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.service {
    background-image: url("../images/s_image.jpg");
    background-size: auto;
    padding: 120px;
    text-align: center;
    color: white;

}
h3 {
    color: whitesmoke;
    text-align: center;
    font-family: 'Caveat', cursive;
}
.container {
    width: 970px;

}
.container h2 {
    text-align: center;

    }


#hidden1,#hidden2,#hidden3 {
    display: none;
}

h5 {
    text-align:left;

    color: black;
    font-family: 'Playfair Display', serif;
    text-decoration:underline;
} 
.contactus {
    background-image: url("../images/c_image.jpg");
    padding: 120px;
}
h6 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
input {
    width: 400px;
    background: none;
}
.footer {
    align-items: center;
    display: block;
 

}
#message{
    background: none;
    color: white;
    width: 80%;
    margin-left: 10px;
}
#contactUs {
    padding: 10px;
    padding-left: 20%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
#contact{
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    height: 500px;
    padding: 10px;
    text-align: center;

}
form{
    align-items: center;
}
#transparent {
    background: none;
}
#exampleFormControlTextarea3 {
    background: none;
}
h6 {
    text-align: center;
   
}
#jambo ::placeholder {
    color:white;
    width: 100%;
    font-size: 13px;
    font-style: italic;
    
}

#design {
    align-items: flex-end;
}
.col-space{
    margin-top:20px;
    margin-bottom:20px;
}
.text ,.text2 {
    width: 370px;
    height: 300px;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    top: 0.0em;
    display:none;
    color: rgb(1, 24, 24);
    font-size: 20px;
    text-align: center;
    padding-top: 35%;
}
.text1,.text4,.text6,.text7 {
    width: 380px;
    height: 300px;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    top: 0.0em;
    display:none;
    color: rgb(1, 24, 24);
    font-size: 20px;
    text-align: center;
    padding-top: 35%;
    
}
.text3,.text5 {
    width: 370px;
    height: 300px;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.6;
    position: absolute;
    top: 0.0em;
    display:none;
    color: rgb(1, 24, 24);
    font-size: 20px;
    text-align: center;
    padding-top: 35%;
}



