.home {
    background-image: url("file:///home/hapiness/IP3/backgrounds/h_img.jpg");
    background-position: cover;
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height:100vh;
   margin-top: zeal;
   margin-bottom: zeal;
   font-color:white;
}
.design-hidden {
    margin-left: 10px;
    margin-right: 30px;
    text-align: center;
}