.section1 {
    background-image: url("../images/h_img.jpg");
    background-size:1380px 671px;
    background-position: cover;
    display: flex;
    flex-direction: column;
   align-items: center;
   justify-content: center; 
}
h1 {
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}
.design-hidden {
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
#hidden1,#hidden2,#hidden3 {
    display: none;
}
h2 {
    color:black;
    font-family: 'Abel', sans-serif;
    text-decoration: underline;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.service {
    background-image: url("../images/s_image.jpg");
    background-size: auto;
    padding: 140px;
    text-align: center;
    color: white;
}

h3 {
    color: whitesmoke;
    text-align: center;
    text-decoration: underline;
}
h4 {
    text-align: left;
    padding: 10px;
    text-decoration: underline;
    col
}
h5 {
    text-align: left;
    padding: 10px;
    color: black;
} 
.contactus {
    background-image: url("../images/c_image.jpg");
    padding: 120px;
}
h6 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
}
input {
    width: 400px;
    background: none;
}
.footer {
    align-items: center;
    display: block;
 

}
#message{
    background: none;
    color: white;
    width: 80%;
    margin-left: 10px;
}
#contactUs {
    padding: 10px;
    padding-left: 20%;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
#contact{
    background-image: url("../images/c_image.jpg");
    background-size: cover;
    height: 500px;
    padding: 10px;
    text-align: center;

}
form{
    align-items: center;
}
#transparent {
    background: none;
}
#exampleFormControlTextarea3 {
    background: none;
}
h6 {
    text-align: center;
   
}
#jambo ::placeholder {
    color:white;
    width: 100%;
    font-size: 13px;
    font-style: italic;
    
}
.container {
    width: 970px;
}
#design {
    align-items: flex-end;
}
.col-space{
    margin-top:20px;
    margin-bottom:20px;
}
  
